#about-container{
    margin-top: 20%;
}
#about-grid-container{
  display: grid;
  grid-template-columns: 50% 50%;
}
#second-image{
    height: 40vh;
    border-radius: 5px;
}
/* mobile responsive styles*/
@media screen and (max-width:576px) {
  #about-grid-container{
    margin-top: 40px;
    grid-template-columns:100%;
    
  }
  
}